@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

#msg-box3-18 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-18 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-18 .mbr-article P {
  text-align: center;
}
#msg-box3-18 .mbr-article {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
